<footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
  
    <!-- Copyright -->
 
    <div class="footer-copyright text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: Todos os direitos reservados para Ana Cláudia <a href="https://www.linkedin.com/in/ana-claudia-otavares/" class="icoLinkedin" title="Linkedin">
        <fa-icon [icon]="faLinkedin" class="faLinkedin"></fa-icon>
       </a> </span>
        
        
    </div>
</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->